<table class="task-table">
    <tr>
        <th>Quote Type</th>
        <th>Quote #</th>
        <th>Contact</th>
        <th>Task</th>
        <th>Due Date</th>
        <th>Task Type</th>
        <th></th>
    </tr>
    <tr app-task *ngFor='let task of tasks | async | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize' ></tr>

    <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="collectionSize"></ngb-pagination>


    <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
</table>