.top-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__404{
        font-size: 6rem;
    }
}