@import '~src/assets/sass/variables';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light-grey;
    padding: 0rem 1rem;

    &__title{
        color: $primary-color;
    }

    &__button{
        //background-color: $primary-color;
    }
}

.filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem;

    &__right{
        display: flex;
    }
    &__input{
        margin-left: 1rem;
    }
    &__label{
        font-weight: $font-weight-bold;
    }
}