// Body
body {
    background-color: $background;
    color: $font-color;
    font-size: $small-font-size;
}

@include small-breakpoint {
    body {
        font-size: $font-size;
    }
}

// Headings
h1,
h2,
h3,
h4,
h5 {
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  color: $heading-font-color;
  margin: $heading-font-margin;
}

h1 {
    font-size: $h1-mobile;
}

h2 {
    font-size: $h2-mobile;
}

h3 {
    font-size: $h3-mobile;
}

h4 {
    font-size: $h4-mobile;
}

h5 {
    font-size: $h5-mobile;
}

@include small-breakpoint {
    h1 {
        font-size: $h1;
    }

    h2 {
        font-size: $h2;
    }

    h3 {
        font-size: $h3;
    }

    h4 {
        font-size: $h4;
    }

    h5 {
        font-size: $h5;
    }
}